@font-face{
	font-family: morrisRoman;
	src: url('fonts/morris.ttf');
}
.navbar ul{
	list-style: none;
	margin-top: 5px;
	margin-bottom: 0px;
}
.navbar li{
	display: inline-block;
	margin: 20px 4% 0;
}
.navbar li a{
	color: black;
}
.myth-header h1{
	margin-top: 15px
}
.home-text{
	font-size: 1.6em;
	margin-top: 25px;
	text-indent: 25px;
}
.home-text:first-letter{
	font-size: 2em;
}
html{
	padding-left: 15px;
}
.banner{
	padding-right: 0px;
}
.banner h1{
	font-size: 25em;
	color: white;
	position: absolute;
	top: 25px;
	left: 280px;
	font-family: morrisRoman;
}
.banner img{
	height: 500px;
	width: 1927px;
}
