<!DOCTYPE html>

<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link REL=StyleSheet href="css/custom.css" type="text/css" media=screen>
    <title>Mythikos</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="header row">
			<div class="myth-header col-md-5">
				<h1>Mythikos</h1>
			</div>
			<div class="col-md-2"></div>
			<div class="navbar col-md-5">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="video.html">Videos</a></li>
					<li><a href="members.html">Members</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div class="row" ng-app="videoData" ng-controller="videoCtrl">
			<div class="video" ng-repeat="obj in array">
				<h3>{{ obj.title }}</h3>
				<iframe ng-src='{{ trustUrl(obj.src) }}' frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>


	<!-- <div class="row">

		<div class="col-md-10">
			<iframe src="https://www.youtube.com/embed/piY_QXk6ZCI" frameborder="0" allowfullscreen></iframe>
			<iframe src="https://www.youtube.com/embed/uUpx26fxth8" frameborder="0" allowfullscreen></iframe>
			<iframe src="https://www.youtube.com/embed/OfBC_zrJ_9Q" frameborder="0" allowfullscreen></iframe>
			<iframe src="https://www.youtube.com/embed/ImTLEyIeges" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-1"></div>
	</div> -->
	
<script type="text/javascript" src="js/video-data.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>